[submodule ".config/awesome/modules/bling"]
	path = .config/awesome/modules/bling
	url = https://github.com/BlingCorp/bling.git
[submodule ".config/awesome/modules/rubato"]
	path = .config/awesome/modules/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule ".config/awesome/modules/keyboard_layout"]
	path = .config/awesome/modules/keyboard_layout
	url = https://github.com/echuraev/keyboard_layout.git
[submodule ".local/src/st-flexipatch"]
	path = .local/src/st-flexipatch
	url = https://github.com/Aproxia-dev/st-flexipatch.git
[submodule ".config/awesome/modules/color"]
	path = .config/awesome/modules/color
	url = https://github.com/andOrlando/color.git
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule ".config/awesome/modules/battery_widget"]
	path = .config/awesome/modules/battery_widget
	url = https://github.com/Aire-One/awesome-battery_widget.git
