/* !! Catppuccin */
st.background: #1E1E2E
st.foreground: #CDD6F4
st.cursorcolor: #F5E0DC
st.color0: #45475A
st.color1: #F38BA8
st.color2: #A6E3A1
st.color3: #F9E2AF
st.color4: #89B4FA
st.color5: #F5C2E7
st.color6: #94E2D5
st.color7: #BAC2DE
st.color8: #585B70
st.color9: #F38BA8
st.color10: #A6E3A1
st.color11: #F9E2AF
st.color12: #89B4FA
st.color13: #F5C2E7
st.color14: #94E2D5
st.color15: #A6ADC8

/* !! Decayed Nord */
!! st.background: #171a1f
!! st.foreground: #b6beca
!! st.cursorcolor: #b6beca
!! st.color0: #101419
!! st.color1: #bf616a
!! st.color2: #a3be8c
!! st.color3: #ebcb8b
!! st.color4: #81a1c1
!! st.color5: #b48ead
!! st.color6: #8fbcbb
!! st.color7: #dee1e6
!! st.color8: #21262e
!! st.color9: #bf616a
!! st.color10: #a3be8c
!! st.color11: #ebcb8b
!! st.color12: #81a1c1
!! st.color13: #b48ead
!! st.color14: #8fbcbb
!! st.color15: #dee1e6

st.tabspaces: 4



















